<section class="dashboard-show">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="card-container">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Products</h4>
        <p class="card-text">in the jungle: <%= @product_count %></p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Categories</h4>
        <p class="card-text">in the jungle: <%= @category_count %></p>
      </div>
    </div>
  </div>

</section>