<section class="dashboard-show">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div>
    <p>Products in the jungle: <%= @product_count %></p>

    <p>Categories in the jungle: <%= @category_count %></p>
  </div>

</section>