<tr>
  <td>
    <p>image</p>
  </td>
  <td>
    <h4><%= line_item.product.name %></h4>
    <br>
    <p><%= line_item.product.description %></p>
  </td>
  <td>
    <p>unit price</p>
  </td>
  <td>
    <p>quantity</p>
  </td>
  <td>
    <p>total price</p>
  </td>
</tr>